
<!-- Provider Button -->
  <div class="usercontainer">
   <div> <img src="/css/Assets/3 clear.png" alt="Young Provider and Older Reciever on Video Call"class="background-image"></div>
    <button class="provider"><a href="/signup">I want to provide a probono service</a></button>
  <!-- Reciever Button -->
  <button class="reciever"><a href="/signup">I want to recieve a probono service</a></button>
    <!-- </div> <img src="./Assets/3.png" class="background-image">
<div id="page-wrap"> -->
</div>
 <!-- About Us Section -->
  <div class="aboutuscontainer"id="about-us">
<h6 class="display-4 text-center"> Meet ProBonoPals!</h6>
 <h6 class="lead mx-auto" style="width: 900px" > The new probono service match maker. 
  This application pairs entry level professionals who want to build their 
  portfolio and give back to the community with local people who need probono
   services such as a small business owner or an elderly person in the neighborhood.
  This opprtunity allows the service provider to do good as they hone their 
  craft and build their experinece in a low risk environment. The person recieving
   the probono service they need is enabled to recieve quick advancement on the 
   project they want to complete or the portion of their life that they want to
    improve at no cost.This also provides a net working opportunity for all parties involved.</h6>
  </div>
  <!-- Service Listings Section -->

  <div class="listingscontainer"id="servicesforus">
    <h6 class="display-4 text-center">ProBono Services</h6>
     <p class="lead text-center"> Our probono services include ...  </p>
      <li class="lead text-center"> 1 </li> 
      <li class="lead text-center"> 1 </li> 
      <li class="lead text-center"> 1 </li> 
      <li class="lead text-center"> 1 </li> 
      <li class="lead text-center"> 1 </li> 
      <li class="lead text-center"> 1 </li> 
      <p class="lead text-center"> We do not connect services that require certifications or that could result in HIPPA violations. </p>      
</div>    

<!-- Contact Us Listings Section -->