<div class="row">
  <div class="col d-flex justify-content-center">
    <form class="form login-form form-background">
         <h4 class="text-center">Login</h4>
      <div class="form-group text-center">
        <label for="email-login">Email:</label>
        <input class="form-input" type="text" id="email-login" />
      </div>
      <div class="form-group text-center">
        <label for="password-login">Password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary mt-3 mb-3 text-center" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
