<div> 
    <nav id="provider-dashboard-nav"> 
        <button class="signout-btn btn-primary">Sign Out</button>
        <h2>Welcome, {{ name }} </h2>
    </nav>
</div>
<div id="dashboard-body">
    <div id="post-list">
        <div class="post">
            <button class="help-btn btn-primary">Accept Task</button>
        </div>

    </div>
    <div id="current-tasks">
        <button class="completed-btn btn-primary">Task Completed</button>
    </div>
</div>

<script src="./js/provider.js"