<div class="row">
  <div class="col d-flex justify-content-center">
    <form class="form signup-form form-background">
          <h4 class="text-center">Join the ProBonoPal Community! </h4>
      <div class="form-group">
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <label for="is-provider-signup">Please check the box if you are planning to provide a service. If you are looking to request a service, please leave the box unchecked.</label>
        <input class="form-input" type="checkbox" id="is-provider-signup"name="isProvider"value="role"/>
      </div>

      <div class="form-group">
        <button class="btn btn-primary" type="submit">Next</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/signup.js"></script>
