<div class="row">
  <div class="col-md-6">
    <h2>Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">Name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="email-signup">Email:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">Password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <label for="is-provider-signup">Please check the box if you are planning to provide a service. If you are looking to request a service, please leav the box unchecked.</label>
        <input class="form-input" type="checkbox" id="is-provider-signup" />
      </div>
      <div class="form-group">
        <label for="zipcode-signup">Zipcode:</label>
        <input class="form-input" type="text" id="zipcode-signup" pattern="[0-9]*"/>
      </div>
      <div class="form-group">
        <label for="disclaimer-signup">Disclaimer:</label>
        <input class="form-input" type="checkbox" id="disclaimer-signup"/>
      </div>
      <div class="form-group">
        <label for="education-signup">What is your highest level of education?</label>
        <select class="form-input" id="education-signup">
           <option value="" hidden disabled>Please select level of education</option> 
           <option value="high-school">High school or equivalent</option>
           <option value="some-college">Some college</option>
           <option value="professional-school">Professional School</option>
           <option value="associate">Associate's degree</option>
           <option value="bachelors">Bachelor's degree</option>
           <option value="masters">Master's degree</option>
           <option value="doctorate">Doctorate</option>
        </select>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/signup.js"></script>
