<div class="row mt-4">
  <div class="col-md-6 d-flex justify-content-center mt-5">

    <form class="form new-task-form form-background">
         <h3>Create a New Task:{{user.name}}</h3>
      <p hidden id="user-id">{{user.id}}</p>
      <div class="form-group">
        <label for="task-title">Task Title:</label>
        <input class="form-input" type="text" id="task-name" name="task-name" />
      </div>
      <div class="form-group">
        <label for="task-service-type">Category of service</label>
        <select class="form-input" id="service-type" name="service-type">
            <option value="" selected disabled>Please choose a level of service</option>
            <option value="coding">Coding</option>
            <option value="Culinary">Culinary</option>
            <option value="Law">Law</option>
            <option value="Trade">Trade</option>
        </select>
      </div>
      <div class="form-group">
        <label for="alloted-time">Estimated Time to Complete Task in minutes:</label>
        <input class="form-input" id="alloted-time" name="alloted time"></input>
      </div>
      <div class="form-group">
        <label for="task-description">Please describe your task here: </label>
        <textarea class="form-input" id="task-description" name="task-description"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">POST!</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/task.js"></script>