<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Task:</h3>

    <form class="form new-task-form">
      <div class="form-group">
        <label for="task-title">Task Title:</label>
        <input class="form-input" type="text" id="task-title" name="task-title" />
      </div>
      <div class="form-group">
        <label for="task-text">Task Text:</label>
        <textarea class="form-input" id="task-text" name="task-text"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">POST!</button>
      </div>
    </form>
  </div>

  <script src="./js/task.js"></script>