<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">Task Title:</label>
        <input class="form-input" type="text" id="post-title" name="post-title" />
      </div>
      <div class="form-group">
        <label for="post-text">Post Text:</label>
        <textarea class="form-input" id="post-text" name="post-text"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">POST!</button>
      </div>
    </form>
  </div>

  <script src="./js/task.js"></script>