.pagecontainer {
    background-color: #fff;
}


/* body {
background-color: #f2c173;
} */

#homepage-img {
    margin: auto;
    width: 100%
}

.background-image {
    margin: auto;
    display: block;
    height: 100%;
    /* min-height: 100%; */
    position: static;
    width: 600px;
    /* height: auto; */
    margin-top: 40px;
    margin-bottom: 40px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    background-color: #f2c173;
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
}

#homgpage-logo {
    font-size: 30px;
}

#homepage-signup-btn {
    position: absolute;
    top: 225px;
}


/* .introcontainer{
background-color: white;
border-style: solid;
border-color: black;
position: static;
} */

#homepage-blurb {
    line-height: 2;
}

.usercontainer {
    /* background-color: #f2c173; */
    background-color: #fff;
}

.usercontainer .provider {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #A7D2DD;
    color: white;
    font-size: 26px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 10px;
}

.usercontainer .receiver {
    position: absolute;
    top: 114%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #F47068;
    color: white;
    font-size: 28px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 10px;
}

.aboutuscontainer {
    margin-top: 100px;
    position: relative;
    display: block;
    justify-content: center;
    align-content: center;
    width: auto;
    margin-bottom: 10px;
    background-color: #ffffff;
    color: black;
    /* border-style: solid; */
    /* border-color: black; */
}

.listings-container {
    margin-top: 100px;
    background-color: #ffffff;
    color: black;
    /* margin: 100px 300px;
padding: 20px; */
    /* background-color: #f2c173; */
    /* background-color: #F2CB90; */
}
#mypost-list{
    display: flex;
    flex-direction: column;
    background-color: rgb(201, 235, 208);
}


.mypost {
    border: solid;
    border-color: red;
    float: left;
    width: auto;
}

#mydashboard-body {
    display: flex;
    justify-content: space-around;
    border: solid;
    border-color: black;
    background-color: powderblue;
}

#mycurrent-tasks {
    border: solid;
    border-color: black;
    float: right;
    width: auto;
    background-color: powderblue;
}
.currentcontainer{
    display: flex;
    flex-direction: column;
}
.currentpost{
    border: solid;
    border-color: rgb(56, 55, 55);
}
#newpostbtn {
    float: right;
}

.post {
    border: solid;
    border-color: red;
    background-color: rgb(201, 235, 208);
    float: left;
    width: auto;
}

#dashboard-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: solid;
    border-color: black;
    background-color: peru;
}

#current-tasks {
    border: solid;
    border-color: white;
    background-color: rgb(217, 235, 250);
    float: right;
    width: auto;
}

#acceptedbtn {
    position: static;
    justify-self: center;
}

.form-background {
    background-color: #f2c173;
    padding: 20px;
}

@media screen and (max-width: 1024px) {
    img.bg {
        left: 50%;
        margin-left: -512px;
    }
}